<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github_read" value="https://nuget.pkg.github.com/masastack/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/masastack/index.json" />
  </packageSources>
       <github_read>
             <add key="Username" value="masastack" />
             <add key="ClearTextPassword" value="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" />
       </github_read>
       <github>
             <add key="Username" value="masastack" />
             <add key="ClearTextPassword" value="${{secrets.PACKAGE_NUGET_GITHUB}}" />
       </github>
</configuration>
